In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
heartdf = pd.read_csv('resources/heart.csv')

In [3]:
#Exploratory Data Analysis

In [4]:
heartdf.head(100)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,condition
0,69,1,0,160,234,1,2,131,0,0.1,1,1,0,0
1,69,0,0,140,239,0,0,151,0,1.8,0,2,0,0
2,66,0,0,150,226,0,0,114,0,2.6,2,0,0,0
3,65,1,0,138,282,1,2,174,0,1.4,1,1,0,1
4,64,1,0,110,211,0,2,144,1,1.8,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,60,0,2,120,178,1,0,96,0,0.0,0,0,0,0
96,59,1,2,126,218,1,0,134,0,2.2,1,1,1,1
97,59,1,2,150,212,1,0,157,0,1.6,0,0,0,0
98,58,1,2,112,230,0,2,165,0,2.5,1,1,2,1
99,58,1,2,105,240,0,2,154,1,0.6,1,0,2,0

#Column Descriptions
-age in years
-gender (1 is Male; 0 is Female)
-cp = chest pain type.  Ranges from 1 to 3
-trestbps = resting blood pressure in hg on admission to hospital
-chol =serum cholestral in mg/dl
-fbs = fasting blood sugar & gt
-restecg = resting electrographic results
-thalach = maximum heart rate achieved
-exang = exercise induced angina (1 = yes, 0 = no)
-oldpeak = st depression induced by exercise relative to rest
-slope = the slope of the peak exercise ST segment
-ca = number of major vessels (0-3) colored by flourosopy
-thai (3 = normal; 6 = fixed defect; 7 = reversable defect)
-condition (1 = heart disease or 0 = no heart disease)

In [ ]:

heartdf.rename(columns={"cp": "chest_pain_type", "trestbps": "resting_bp", "restecg": "fasting_blood_sugar",
                  "thalach": "max_heart_rate", "exang":"exercise_reduced_angina"},inplace=True)

In [ ]:
heartdf.head(50)

In [ ]:
heartdf.columns

In [ ]:
heartdf['target'].value_counts()

In [ ]:
heartdf['age'].value_counts()

In [ ]:
#Graphs and Visualisations

In [ ]:
pd.crosstab(heartdf.age,heartdf.target).plot(kind="bar",figsize=(25,6))
plt.title('Heart Disease Frequency for Ages')
plt.xlabel('Age')
plt.ylabel('Frequency')
plt.savefig('static/images/heartDiseaseAndAges.png')
plt.show()

In [ ]:

X=heartdf.drop(columns=['sex', 'chest_pain_type','chol', 'fbs',
       'fasting_blood_sugar', 'max_heart_rate', 'exercise_reduced_angina',
       'oldpeak', 'slope', 'ca', 'thal'])

In [ ]:
X1=X[X.target==1]
X0=X[X.target==0]

In [ ]:

# x0=[x[0] for x in my_x]
# x1=[x[1] for x in my_x]

In [ ]:
# Generate a new data point (the red circle)
import numpy as np
new_data = np.array([[50,140,219,168]])
plt.title("Age vs Resting BP, yellow with Heart Disease")
plt.xlabel("Age")
plt.ylabel("Resting Blood Pressure")
plt.scatter(X1.age,X1.resting_bp, c='y')
plt.scatter(X0.age,X0.resting_bp, c='b')
plt.scatter(new_data[0, 0], new_data[0, 1], c="r", marker="o", s=100)

In [ ]:
plt.title("Age vs Heart Disease")
plt.xlabel("Age")
plt.ylabel("Count/Frequency")

heartdf[heartdf.target==1]['age'].plot.hist()
plt.savefig('static/images/Age vs HeartDisease.png')
plt.show()

In [ ]:
plt.title("Age vs No Heart Disease")
plt.xlabel("Age")
plt.ylabel("Count/Frequency")


heartdf[heartdf.target==0]['age'].plot.hist()

In [ ]:
plt.figure(figsize=(10,6))
sns.countplot(x=heartdf['target'],hue=heartdf['sex'],palette='Blues')
plt.xlabel('Sex (0 = Female, 1 = Male)')

In [ ]:
#Creating features for Logistic Regression

In [ ]:
#Features are age, resting_bp, cholestoral and maximum heart rate

In [ ]:
my_x=heartdf[['age','resting_bp','chol','max_heart_rate']].values.tolist()
my_x

In [ ]:
my_y=heartdf['target'].values.tolist()
my_y

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(my_x, my_y, test_size=0.2, random_state=42)

#Create a Logistic Regression Model

In [ ]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

#Fit (train) or model using the training data

In [ ]:
classifier.fit(X_train, y_train)

#Validate the model using the test data

In [ ]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

In [ ]:
from sklearn.externals import joblib
# serialize model
joblib.dump(classifier, 'heart.model')
print("Model is saved.")

In [ ]:
classifier = joblib.load('heart.model')

In [ ]:
#Make predictions
new_data = np.array([[50,140,219,168]])
classifier.predict(new_data)

In [ ]:
classifier.predict([[50, 140, 219, 169]])[0]